body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    margin: 0;
    overflow-x: hidden;
}


/*-------------------------------
header started 
 -------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.login {
    border-radius: 3px;
    font-size: 20px;
    color: deeppink;
    padding: 5px 30px;
    border: none;
    margin: 0 10px;
    background-color: rgb(36, 20, 255);
}

.login:hover {
    background-color: deeppink;
    color: white;
    transition: all .5s;
}

header {
    background: #2D25A0;
    width: 100%;
    height: 677px;
}

.icon-img img {
    margin-left: 30px;
    transition: all .3s;
}

.icon-img:hover img {
    transform: scale(1.2);
    transition: ease-in-out .5s;
}

.header {
    padding-top: 120px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;
}

#star {
    color: gold;
}


/*-------------------------------
 main started 
 -------------------------------- */

.title-info h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #ffffff;
}

button {
    background-color: deeppink;
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 8px;
}

button:hover {
    background-color: white;
    color: rgb(245, 76, 47);
    transition: color 1s;
    transition: background-color 1.5s;
}

.icon-img img {
    position: absolute;
    width: 556.01px;
    height: 438px;
}

.player {
    text-align: center;
}

.player-info img {
    width: 100%;
    height: auto;
    transition: all 0.5s;
    border-radius: 20px 20px 0 0;
}

.player-info img:hover {
    transform: skewY(5deg);
    transition: transform .5s;
}

.players {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px;
}

.player-info {
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(70, 68, 68, 0.15);
}

.playersDetails {
    padding: 10px 30px;
    text-align: left;
}

.players-column3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
    margin: 30px;
}


/*------------------------------------
 article part started
 ------------------------------------ */

.blogs {
    text-align: left;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.blogContainer {
    text-align: center;
}

.blog>div {
    padding: 5px;
}

.blog {
    border: 1px solid gainsboro;
}

.blogContainer {
    position: relative;
}

.blogContainer::before {
    position: absolute;
    content: "";
    background: #db0847;
    width: 4.8rem;
    height: 3px;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .3s;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 40px 100px;
}

.reviews img {
    border-radius: 50%;
}

.review {
    text-align: center;
    padding: 8px;
    border: 2px solid rgb(237, 237, 255);
    border-radius: 10px;
}


/*-------------------------------
 article ended 
 -------------------------------- */


/*----------------------------------
 footer part 
----------------------------------- */

footer {
    padding: 10px 0;
    background: #2D25A0;
    color: #ffffff;
}

footer div p a {
    color: #ffffff;
    text-decoration: none;
}

footer div p:hover a {
    text-decoration: underline;
}

.footers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    padding: 10px 0;
    background: #2D25A0;
}

.subscribeBtn {
    width: 300px;
    background-color: rgb(27, 27, 236);
    height: 30px;
    margin: 0 auto;
    color: aliceblue;
    border: 1px solid white;
}

.subscribeBtn:hover {
    background-color: rgb(5, 5, 102);
}

.Copyright {
    text-align: center;
    margin: 5px;
    color: rgb(135, 135, 240);
}

.SocialIcon img {
    border: 5px solid #88b8ec;
    border-radius: 50%;
}


/*-------------------------------
 footer  ended 
 -------------------------------- */


/* media querise */

@media only screen and (max-width:682px) {
    .players,
    .blogs,
    .footers {
        grid-template-columns: repeat(1, 1fr);
    }
    .header {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .header img {
        margin: 90px;
    }
    .reviews {
        width: 100%;
        margin: 10px auto;
        grid-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
    .reviews .review {
        border: none;
        border-radius: 0;
        margin: 10px;
        box-shadow: 0px 0 8px lightgray;
    }
    .title-info,
    .icon-img img {
        width: 300px;
        height: 256px;
    }
    .title-info h1 {
        font-size: 36px;
    }
    article {
        flex-wrap: wrap;
    }
    .article-img img {
        width: 100%;
    }
    .footer img {
        width: 250px;
        height: auto;
    }
}